html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input[type=text], select {
width:200px;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=Button] {
background-color: #49B3E1;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
.btn {
background-color: #49B3E1;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}
.btn:hover {
background-color: RoyalBlue;
}
.topright {
position: absolute;
top: 1px;
right: 8px;
}